.App-header {
    background-color: white;
    min-height: 260px;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row;
  align-items: center;
  justify-content: space-between; */
    font-size: calc(10px + 2vmin);
    background-image: url(../images/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.App-header nav {
    /* width: 100%; */
    font-size: 14px;
}

.App-header h1 {
    width: 100%;
    padding: 50px;
}

.App-header ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.App-header a {
    text-decoration: none;
    color: black;
}

.App-header a:active, 
.App-header a:hover,
.loggedInMenu button:hover{
    text-decoration: underline;
}

.loggedInMenu {
    display: flex;
    flex-direction: row;
    align-items: right;
}

.loggedInMenu li {
    padding-left: 20px;
}

.loggedInMenu button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}